<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHPkoa Static</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <img src="/images/20264902.jpg" alt="">

    <form action="/files" method="POST" enctype="multipart/form-data" >
        <input type="file" name="files" />
        <button type="submit">提交</button>
    </form>

</body>
</html>